<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new item</title>
</head>
<body>
    <form action="" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>

        <div>
            <label for="game">Game</label>
            <input type="text" name="game">
        </div>
        <div>
            <label for="rarity">Rarity</label>
            <select name="rarity">
                <option value="common">Common</option>
                <option value="uncommon">Uncommon</option>
                <option value="rare">Rare</option>
                <option value="epic">Epic</option>
                <option value="legendary">Legendary</option>
            </select>
        </div>

        <div>
            <button>Add</button>
        </div>
        <div>
            <a href="/home">Powrót</a>
        </div>
    </form>
</body>
</html>